{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}           
<section class="fancy-blog-area section-padding-100-70">
    <div class="container">
        <div class="row display-flex container-header">
          <img class="col-12 col-md-6 " src="{{ asset('assets/img/cp01.jpg') }}" alt="">
          <div class="col-12 col-md-6 section-heading">
              <h2>Microsoft Office 2019</h2>
              <p>を組み合わせたインテリジェントな統合ソリューションで、安全な環境で誰もが創造性を発揮し共同作業を行えるよう支援します</p>
              <a href="{{ url('product_list') }}?category_id=1" class="btn fancy-btn fancy-dark">一覧へ</a>
          </div>
        </div>
        <div class="row">
          {% set cateGory1Products = repository('Eccube\\Entity\\Product').getProductsByGategorys([1]) %}
          {% for product in cateGory1Products %}
            <!-- Single Blog -->
            <div class="col-12 col-md-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="{{0.5 * (loop.index - 1)}}s">
                {% if product.ProductImage|length > 0 %}
                  <img src="{{ asset(product.ProductImage[0], 'save_image') }}">
                {% else %}
                  <img src="{{ asset(''|no_image_product, 'save_image') }}"/>
                {% endif %}
                  <div class="blog-content">
                      <h5>
                      <a href="{{ url('product_detail', {'id': product.id}) }}" target="_blank" title="">{{product.name}}</a>
                      </h5>
                      <p>{{product.description}}</p>
                      <em>{{product.getPrice02IncTaxMin|price }}</em>
                  </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row display-flex container-header flex-direction-row-reverse">
          <img class="col-12 col-md-6" src="{{ asset('assets/img/cp02.jpg') }}" alt="">
          <div class="col-12 col-md-6">
              <div class="section-heading">
                  <h2>Microsoft Office 365</h2>
                  <p>Office 365 は、現代の働き方に最適なツールを集めたクラウドベースのサブスクリプション サービスです。</p>
                  <a href="{{ url('product_list') }}?category_id=2" class="btn fancy-btn fancy-dark">一覧へ</a>
              </div>
          </div>
        </div>
         <div class="row">
          {% set cateGory2Products = repository('Eccube\\Entity\\Product').getProductsByGategorys([2]) %}
          {% for product in cateGory2Products %}
            <!-- Single Blog -->
            <div class="col-12 col-md-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="{{0.5 * (loop.index - 1)}}s">
                {% if product.ProductImage|length > 0 %}
                  <img src="{{ asset(product.ProductImage[1], 'save_image') }}">
                {% else %}
                  <img src="{{ asset(''|no_image_product, 'save_image') }}"/>
                {% endif %}
                  <div class="blog-content">
                      <h5>
                      <a href="{{ url('product_detail', {'id': product.id}) }}" target="_blank" title="">{{product.name}}</a>
                      </h5>
                      <p>{{product.description}}</p>
                      <em>{{product.getPrice02IncTaxMin|price }}</em>
                  </div>
                </div>
            </div>
          {% endfor %}  
           
        </div>
    </div>
    <div class="container">
        <div class="row display-flex container-header">
          <img class="col-12 col-md-6" src="{{ asset('assets/img/cp03.jpg') }}" alt="">
          <div class="col-12 col-md-6">
              <div class="section-heading">
                  <h2>Windows 10</h2>
                  <p>Enterpriseで、お客様のあらゆる企業ニーズに対応します。</p>
                  <a href="{{ url('product_list') }}?category_id=3" class="btn fancy-btn fancy-dark">一覧へ</a>
              </div>
          </div>
        </div>
        <div class="row">
          {% set cateGory3Products = repository('Eccube\\Entity\\Product').getProductsByGategorys([3]) %}
          {% for product in cateGory3Products %}
            <!-- Single Blog -->
            <div class="col-12 col-md-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="{{0.5 * (loop.index - 1)}}s">
                {% if product.ProductImage|length > 0 %}
                  <img src="{{ asset(product.ProductImage[2], 'save_image') }}">
                {% else %}
                  <img src="{{ asset(''|no_image_product, 'save_image') }}"/>
                {% endif %}
                  <div class="blog-content">
                      <h5>
                      <a href="{{ url('product_detail', {'id': product.id}) }}" target="_blank" title="">{{product.name}}</a>
                      </h5>
                      <p>{{product.description}}</p>
                      <em>{{product.getPrice02IncTaxMin|price }}</em>
                  </div>
                </div>
            </div>
          {% endfor %}  
           
        </div>
    </div>
</section>
          
            
      