{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}
{% set body_class = 'product_page' %}
{% block main %}
<section class="single_blog_area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="post-list">
                <div class="row no-gutters">
                    {% for Product in pagination %}  
                    <div class="single-blog-area wow fadeInUp" style="display: flex;" data-wow-delay="{{0.5 * (loop.index - 1)}}s">
                        <div class="blog-thumb">
                        <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt="図">
                        </div>
                        <div class="blog-content">
                            <h5><a href="{{ url('product_detail', {'id': Product.id}) }}" title="{{ Product.name }}">{{ Product.name }}</a></h5>
                            {% if Product.description_list %}
                                <p class="abstract">{{ Product.description_list|raw|nl2br }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>
            <!-- ****** Blog Sidebar ****** -->
            <div class="col-10 col-lg-3">
                <div class="blog-sidebar">
                    <!-- Single Widget Area -->
                    <div class="single-widget-area popular-post-widget">
                        <!-- Single Popular Post -->
                        <div class="widget-title">
                                <h5>Blog</h5>
                            </div>
                         {% for post in posts %}  
                            <div class="single-populer-post">
                                <div class="post-contents">
                                    <a href="{{ url('post_detail', {'id': post.ID}) }}" title="{{post.post_title}}" target="_blank">
                                        <h6>{{post.post_title}}</h6>
                                    </a>
                                    <a class="post-date" href="#">{{post.post_date}}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# <section class="single_blog_area section-padding-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="left mainBody col-md-8 col-lg-8 col-sm-8 col-xs-8 ec-grid2" style="margin-top:15px;min-height:700px;">
                    <!--start -->
                    <div class="left1 mulu_bg">
                    {% if pagination.totalItemCount > 0 %}
                        <ul style="display: block;" id="Loading">

                        {% for Product in pagination %}
                            <li class="odd row">
                            <a href="{{ url('product_detail', {'id': Product.id}) }}" target="_blank" class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                            <img  style="width:100%;height:132px;"  src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt="" title=" ">
                            </a> 
                            <b class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                <a href="{{ url('product_detail', {'id': Product.id}) }}" target="_blank" title="#">{{ Product.name }}</a>
                                </b>
                            
                                {% if Product.description_list %}
                                            <p>{{ Product.description_list|raw|nl2br }}</p>
                                        {% endif %}
                                
                                <i>06-21</i>
                            </li>
                        {% endfor %} 
                        </ul>
                        {% endif %}
                        <div class="ad1"> </div>
                    </div>
                </div>
                <div class="right sideBar col-md-4 col-lg-4 col-sm-4 col-xs-4" style="margin-top:15px;">
                    <div class="adBox marB" >
                        <h1 class="redbg">Blog</h1>
                        {% set posts = getPosts() %}
                        <ul class="rankList"  style="min-height:420px;">
                            {% for post in posts %}  
                            <li class="odd">
                                <p><a href="{{ url('post_detail', {'id': post.ID}) }}" title=" " target="_blank">{{post.post_title}}</a></p>
                                <span>{{post.post_date}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section> #}
{% endblock %}
