<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="google-site-verification=IWDNe4051YfxwUasj_zoKWs1A-jfvwbiGwv_klHs8vQ">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<meta name="eccube-csrf-token" content="{{ csrf_token(constant('Eccube\\Common\\Constant::TOKEN_NAME')) }}">
		<title>{{ BaseInfo.shop_name }}
			{% if subtitle is defined and subtitle is not empty %}
				/
				{{ subtitle }}
			{% elseif title is defined and title is not empty %}
				/
				{{ title }}
			{% endif %}
		</title>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		{# <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147322928-1"></script> #}
		<script>
			window.dataLayer = window.dataLayer || [];
            function gtag() {
            dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-147322928-1');
        </script>

		{% if Page.author is not empty %}
			<meta name="author" content="{{ Page.author }}">
		{% endif %}
		{% if Page.description is not empty %}
			<meta name="description" content="{{ Page.description }}">
		{% endif %}
		{% if Page.keyword is not empty %}
			<meta name="keywords" content="{{ Page.keyword }}">
		{% endif %}
		{% if Page.meta_robots is not empty %}
			<meta name="robots" content="{{ Page.meta_robots }}">
		{% endif %}
		{% if Page.meta_tags is not empty %}
			{{ include(template_from_string(Page.meta_tags)) }}
		{% endif %}
		<link rel="stylesheet" href="{{ asset('assets/my/css/custom.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/my/css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/my/css/responsive/responsive.css') }}">
	
		<script src="{{ asset('assets/my/js/jquery/jquery-2.2.4.min.js')}}"></script>
		<script>
			$(function () {
                $.ajaxSetup({
                    'headers': {
                    'ECCUBE-CSRF-TOKEN': $('meta[name="eccube-csrf-token"]').attr('content')
                    }
                });
            });
		</script>
		{# プラグイン用styleseetやmetatagなど #}
	</head>
	<body class="index">
		<div id="preloader">
			<div class="loader">
				<span class="inner1"></span>
				<span class="inner2"></span>
				<span class="inner3"></span>
			</div>
		</div>
		{# BLOCK: HEADER #}
		{% if Layout.Header %}
			{{ include('block.twig', {'Blocks': Layout.Header}) }}
		{% endif %}
	    {% if Layout.ContentsTop %}      
            {{ include('block.twig', {'Blocks': Layout.ContentsTop}) }}     
        {% endif %}
		{% if Layout.MainTop %}
			{{ include('block.twig', {'Blocks': Layout.MainTop}) }}
		{% endif %}
		{% block main %}{% endblock %}
		{# Layout: CONTENTS_FOOTER #}
		{% if Layout.Footer %}
			{{ include('block.twig', {'Blocks': Layout.Footer}) }}
		{% endif %}
		
    </body>
    <script src="{{ asset('assets/my/js/bootstrap/popper.min.js')}}"></script>
    <script src="{{ asset('assets/my/js/bootstrap/bootstrap.min.js')}}"></script>
    <script src="{{ asset('assets/my/js/others/plugins.js')}}"></script>
    <script src="{{ asset('assets/my/js/active.js')}}"></script>
</html>
